@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.btn-fixed {
    width: 200px;
    height: 50px;
    margin: auto;
}

.btn-primary {
    display: inline-block;
    padding: 9px 14px;
    margin-bottom: 0;
    font-size: 15px;
    line-height: normal;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); /* Umbră subtilă pentru text */
    vertical-align: middle;
    background: linear-gradient(180deg, #5c97bf, #457ba1, #34638d); /* Gradient albastru mai domol */
    border: 1px solid #2a4a8b; /* Bordură albastru închis */
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(150, 180, 220, 0.4), 0 0 10px rgba(100, 140, 200, 0.3); /* Strălucire redusă */
    cursor: pointer;
    width: 100%;
    display: block;
    transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Efecte de tranziție */
}

.btn-primary:hover {
    color: #ffffff;
    background: linear-gradient(180deg, #6ca8d2, #588eb7, #47719c); /* Gradient mai deschis pentru hover */
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); /* Umbră subtilă pentru text */
    text-decoration: none;
    border-color: #34638d; /* Culoarea bordurii la hover */
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.08); /* Strălucire mai discretă */
}

.btn-secondary {
    display: inline-block;
    padding: 9px 14px;
    margin-bottom: 0;
    font-size: 15px;
    line-height: normal;
    color: #ffffff;
    text-align: center;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.25);
    vertical-align: middle;
    background: linear-gradient(180deg, #9a9a9a, #757575, #5a5a5a); /* Gradient întunecat pentru normal */
    border: 1px solid #4a4a4a; /* Bordură mai întunecată */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(200, 200, 200, 0.6), 0 0 20px rgba(150, 150, 150, 0.5); /* Strălucire */
    cursor: pointer;
    width: 100%;
    display: block;
    transition: background 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Efecte de tranziție */
}

.btn-secondary:hover {
    color: #ffffff;
    background: linear-gradient(180deg, #b0b0b0, #8c8c8c, #6a6a6a); /* Gradient mai deschis pentru hover */
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); /* Umbră subtilă pentru text */
    text-decoration: none;
    border-color: #5a5a5a; /* Culoarea bordurii la hover */
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.1);
}

html { width: 100%; height:100%; overflow:hidden; }

body {
    width: 100%;
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    overflow-y: auto; /* Permite scroll vertical */
    background: #6D8F91; /* Culoare implicită, pentru siguranță */
    background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%, rgba(229,214,124,0) 40%),
                -moz-linear-gradient(top, rgba(230,96,187,.25) 0%, rgba(96,226,230,.4) 100%),
                -moz-linear-gradient(-45deg, #E5D67C 0%, #665A62 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%, rgba(229,214,124,0) 40%),
                -webkit-linear-gradient(top, rgba(230,96,187,.25) 0%, rgba(96,226,230,.4) 100%),
                -webkit-linear-gradient(-45deg, #E5D67C 0%, #665A62 100%);
    background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%, rgba(229,214,124,0) 40%),
                -o-linear-gradient(top, rgba(230,96,187,.25) 0%, rgba(96,226,230,.4) 100%),
                -o-linear-gradient(-45deg, #E5D67C 0%, #665A62 100%);
    background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%, rgba(229,214,124,0) 40%),
                -ms-linear-gradient(top, rgba(230,96,187,.25) 0%, rgba(96,226,230,.4) 100%),
                -ms-linear-gradient(-45deg, #E5D67C 0%, #665A62 100%);
    background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%, rgba(229,214,124,0) 40%),
                linear-gradient(to bottom, rgba(230,96,187,.25) 0%, rgba(96,226,230,.4) 100%),
                linear-gradient(135deg, #E5D67C 0%, #665A62 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#E5D67C', endColorstr='#665A62', GradientType=1);
}

a {
    text-decoration: none;
    text-align: left;
}

.box {
	position: relative;
	top: 30%;
	left: 50%;
	margin: -200px 0 0 -200px;
	width:400px;
	height:300px;
}

.box h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }
.container {
    margin-top: 10rem;
	text-align: center;
}
h2 {
    color: #ee6f57;
    font-size: 4rem;
}
.navbar .nav-link {
    color: #5B5C66 !important; /* Text alb */
    display: inline-block;
    padding: 8px 16px; /* Ajustează dimensiunea butonului */
    border-radius: 4px; /* Colțuri rotunjite */
    transition: background-color 0.3s ease, color 0.3s ease; /* Efect de tranziție pentru hover */
}

.logo-name{
    color: #fff !important;
    font-family: times new roman font;
    font-size: 30px;
    border-radius: 10px;
    padding: 2px 8px;
}

.titles {
    color: #fff !important;
    font-family: times new roman font;
}

.navbar .nav-link:hover {
    background-color: #5B5C66; /* Culoare mai deschisă la hover */
    color: #fff !important; /* Text gri închis la hover */
}

.navbar .nav-link.active, .navbar .nav-link:focus {
    color: #fff !important; /* Text alb când butonul este activ sau focusat */
    background-color: #5B5C66; /* Fundal gri închis când este activ sau focusat */
}

.flashes p {
  color: green;
}

.navbar-toggler:focus {
    outline: none !important;
    box-shadow: none !important;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='grey' stroke-width='3' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
    width: 30px;
    height: 30px;
    transition: background-image 0.3s ease-in-out;
}

/* Schimbă culoarea la hover */
.navbar-toggler:hover .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath stroke='black' stroke-width='3' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
}

.fixed-btn {
    width: 400px; /* sau orice dimensiune preferi */
}
:root {
    --primary-color: #2c3e50;
    --secondary-color: #ecf0f1;
    --accent-color: #e74c3c;
    --card-bg: #ffffff;
  }

  .movie-container {
    margin: 1rem auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
  }

  /* CARD PROFIL */

.card-container {
  display: flex;
  justify-content: center;
  align-items: flex-center;
  gap: 10px;
  flex-wrap: wrap;
  transition: all 0.5s ease;
  margin-top: 20px;
}

.card-profile {
  width: 300px;
  background: var(--card-bg);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  position: relative;
}

.card-profile:hover {
  transform: scale(1.02);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.card-profile img {
  display: block;
  width: 100%;
  height: auto;
}

.card-profile:hover .rating-badge {
  opacity: 1;
  transform: translateY(0);
}

.card-form {
  flex: 1;
  min-width: 300px;
  max-width: 350px;
  transition: all 0.5s ease;
}
.save-button {
  position: absolute;
  top: 83%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
}

.card-profile:hover .save-button {
  opacity: 1;
}
/* */


/*  CARD MY_LIST */

/* Scroll container pentru carduri */
.scroll-container {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  padding: 20px;
  scroll-behavior: smooth;

  width: 90%;              /* Sau poți pune direct 1000px */
  max-width: 1200px;       /* Controlează cât de lat poate deveni */
  margin: 0 auto;          /* Centrează containerul orizontal */
}

.scroll-container::-webkit-scrollbar {
  height: 8px;
}
.scroll-container::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.scroll-container-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.scroll-left,
.scroll-right {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  outline: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
  box-shadow: none;
  z-index: 10;
}

.scroll-left {
  left: -10px; /* Poziționare stânga */
}

.scroll-right {
  right: -10px; /* Poziționare dreapta */
}

.scroll-left:hover,
.scroll-right:hover {
  background-color: transparent !important;
}


/* CARDUL (redus la 200px) */
.card-mylist {
  position: relative;
  width: 200px;
  background: var(--card-bg, #fff);
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  position: relative;
  flex-shrink: 0;
}

.card-mylist:hover .rating-badge {
    opacity: 1;
    transform: translateY(0);
}

.card-mylist:hover {
  transform: scale(1.02);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
}

.card-mylist img {
  display: block;
  width: 100%;
  height: auto;
}

/* Butoanele apar pe hover */
.delete-button,
.details-button {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 2;
  width: 80%;
}

.delete-button {
  top: 85%;
}

.details-button {
  top: 70%;
}

/* Hover: butoane vizibile */
.card-mylist:hover .delete-button,
.card-mylist:hover .details-button {
  opacity: 1;
}

/*    */
  .card-details {
    width: 300px;
    background: var(--card-bg);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    position: relative;
  }

  .card-details:hover {
    transform: scale(1.02);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
  }

  .card-details img {
    display: block;
    width: 100%;
    height: auto;
  }

  .rating-badge {
    position: absolute;
    top: 12px;
    left: 12px;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 6px 12px;
    border-radius: 6px;
    font-weight: bold;
    font-size: 0.9rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  .release-date {
  position: absolute;
  bottom: 12px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.7); /* fundal semi-transparent */
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 0.8rem;
  text-align: center;
}

  .card-details:hover .rating-badge {
    opacity: 1;
    transform: translateY(0);
  }

  .trailer {
    width: 80%;
    max-width: 800px;
    aspect-ratio: 16/9;
    border: none;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }

  .trailer:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);
  }

  /* Pentru ecrane între 1200px și 768px */
  @media (max-width: 1200px) and (min-width: 768px) {
    .card-details {
      /* Înlocuim dimensiunea fixă cu una fluidă */
      width: 24.5%;
      max-width: none;
    }
    .trailer {
      /* Atribuim o lățime procentuală corespunzătoare */
      width: 65%;
      max-width: none;
    }
  }

  /* Pentru ecrane sub 768px */
  @media (max-width: 768px) {
    .movie-container {
      flex-direction: column-reverse;
    }
    .card-details{
    width: 50%;
    align-self: flex-start;
    }
    .trailer {
      width: 100%;
      max-width: 100%;
    }
  }

    .actor-container {
    position: relative;
    width: 150px;
    height: 150px;
    margin: auto;
  }

  .actor-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 10%;
    transition: transform 0.3s ease;
  }

  .actor-container:hover img {
    transform: scale(1.05);
  }

  .actor-name-overlay {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .actor-container:hover .actor-name-overlay {
    opacity: 1;
  }