{% extends "base.html" %}

{% block content %}
<div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
      <h1 style="text-align: center; color: #fff; font-family: times new roman font;">Trending Movies</h1>
    <!-- Prima secțiune de carduri -->
    <div class="carousel-item active">
      <div class="container">
        <div class="row justify-content-center">
          <!-- Carduri (5 carduri) -->
          {% for movie in movies[:4:-1] %}
          <div class="col-2 col-sm-2 col-md-2 col-lg-2 mb-4 d-flex justify-content-center">
            <!-- Card 1 -->
              <div class="card">
              <div class="front" style="background-image: url('{{ movie.poster }}');">
                <h2 class="large">{{ movie.ranking }}</h2>
              </div>
              <div class="back">
                <div>
                  <div class="title">{{ movie.title }}<span class="release_date">{{ movie.relase_date }}</span></div>
                  <div class="rating">
                    <label>{{ movie.popularity }}</label>
                    <i class="fas fa-star star"></i>
                  </div>
                  <p class="overview">{{ movie.overview[:100] }}...</p>
                  <a href="#" class="button">Save Movie</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- A doua secțiune de carduri -->
    <div class="carousel-item">
      <div class="container">
        <div class="row justify-content-center">
          <!-- Carduri (5 carduri) -->
          {% for movie in movies[4::-1] %}
          <div class="col-2 col-sm-2 col-md-2 col-lg-2 mb-4 d-flex justify-content-center">
            <!-- Card 1 -->
              <div class="card">
              <div class="front" style="background-image: url('{{ movie.poster }}');">
                <h2 class="large">{{ movie.ranking }}</h2>
              </div>
              <div class="back">
                <div>
                  <div class="title">{{ movie.title }}<span class="release_date">{{ movie.relase_date }}</span></div>
                  <div class="rating">
                    <label>{{ movie.popularity }}</label>
                    <i class="fas fa-star star"></i>
                  </div>
                  <p class="overview">{{ movie.overview[:100] }}...</p>
                  <a href="#" class="button">Save Movie</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <!-- Navigare carusel -->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

{% if not logged_in: %}
<div class="px-4 py-2 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis titles">Welcome to MovieBook</h1>
    <div class="col-lg-6 mx-auto">
<div class="d-flex justify-content-center">
    <a href="{{ url_for('auth.login') }}" class="btn btn-primary btn-m fixed-btn">Login</a>
    <a href="{{ url_for('auth.register') }}" class="btn btn-secondary btn-m fixed-btn">Register</a>
</div>
    </div>
</div>
{% endif %}

<div id="carouselExample2" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
      <h1 style="text-align: center; color: #fff; font-family: times new roman font;">Trending Series</h1>
    <!-- Prima secțiune de carduri -->
    <div class="carousel-item active">
      <div class="container">
        <div class="row justify-content-center">
          <!-- Carduri (5 carduri) -->
          {% for serie in series[:4:-1] %}
          <div class="col-2 col-sm-2 col-md-2 col-lg-2 mb-4 d-flex justify-content-center">
            <!-- Card 1 -->
              <div class="card">
              <div class="front" style="background-image: url('{{ serie.poster }}');">
                <h2 class="large">{{ serie.ranking }}</h2>
              </div>
              <div class="back">
                <div>
                  <div class="title">{{ serie.title }}<span class="release_date">{{ serie.relase_date }}</span></div>
                  <div class="rating">
                    <label>{{ serie.popularity }}</label>
                    <i class="fas fa-star star"></i>
                  </div>
                  <p class="overview">{{ serie.overview[:100] }}...</p>
                  <a href="#" class="button">Save Serie</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- A doua secțiune de carduri -->
    <div class="carousel-item">
      <div class="container">
        <div class="row justify-content-center">
          <!-- Carduri (5 carduri) -->
          {% for serie in series[4::-1] %}
          <div class="col-2 col-sm-2 col-md-2 col-lg-2 mb-4 d-flex justify-content-center">
            <!-- Card 1 -->
              <div class="card">
              <div class="front" style="background-image: url('{{ serie.poster }}');">
                <h2 class="large">{{ serie.ranking }}</h2>
              </div>
              <div class="back">
                <div>
                  <div class="title">{{ serie.title }}<span class="release_date">{{ serie.relase_date }}</span></div>
                  <div class="rating">
                    <label>{{ serie.popularity }}</label>
                    <i class="fas fa-star star"></i>
                  </div>
                  <p class="overview">{{ serie.overview[:100] }}...</p>
                  <a href="#" class="button">Save Serie</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>

  <!-- Navigare carusel -->
<button class="carousel-control-prev" type="button" data-bs-target="#carouselExample2" data-bs-slide="prev">
  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Previous</span>
</button>
<button class="carousel-control-next" type="button" data-bs-target="#carouselExample2" data-bs-slide="next">
  <span class="carousel-control-next-icon" aria-hidden="true"></span>
  <span class="visually-hidden">Next</span>
</button>
</div>
{% endblock %}
