{% extends 'base.html' %}{% from "bootstrap5/form.html" import render_form %}
{% block content %}


<!-- CONTEXT: Container scrollabil -->
<div class="scroll-container-wrapper">
    {% if saved_movies %}
    <button type="button" class="btn btn-outline-secondary scroll-left" style="outline: none; box-shadow: none;">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-chevron-compact-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223"></path>
        </svg>
        <span class="visually-hidden">Button</span>
    </button>
  <div class="scroll-container">

      {% for movie in saved_movies[::-1] %}
        <div class="card-mylist position-relative">
          <div class="rating-badge">
            <i>{{ movie.rating }}</i>
            <i class="fas fa-star"></i>
          </div>
          <img src="{{ movie.poster_url }}" alt="Poster Film">

          <!-- Butoane: Delete & See Details -->
          <a href="{{ url_for('views.see_details', title= movie.title) }}" class="btn btn-warning details-button">See details</a>
          <a href="{{ url_for('views.delete', id= movie.id) }}" class="btn btn-danger delete-button">Delete</a>

          <div class="release-date">
            {{ movie.release_date }}
          </div>
        </div>
      {% endfor %}
      {% else %}
      <p>Nu ai salvat niciun film.</p>
      {% endif %}
  </div>
    <button type="button" class="btn btn-outline-secondary scroll-right" style="margin-right: 20px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671"></path>
        </svg>
    </button>
</div>



<div class="container-sm col-xl-10 col-xxl-8 py-3">
    <div class="flash">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
    </div>
  <div class="card-container">
{% if movie.unique_id != 0000 %}
<div class="card-profile position-relative">
  <div class="rating-badge">
    <i>{{ movie.rating }}</i>
    <i class="fas fa-star"></i>
  </div>
  <img src="{{ movie.poster_url }}" alt="Poster Film">

  <!-- Butonul apare pe hover -->
    <a href="{{ url_for('views.see_details', title= movie.title, details_from= 'randomMovie') }}" class="btn btn-warning go-details">See details</a>
    <a href="{{ url_for('views.save_movie', save_from= 'profile', id= movie.id) }}" class="save-button btn btn-warning">Add to Mylist</a>

  <div class="release-date">
    {{ movie.release_date }}
  </div>
</div>
{% endif %}

    <div class="card-form">
      <form class="p-4 p-md-5 rounded-3 bg-dark bg-gradient" id="RandomMovieForm" method="POST">
          {{ form.hidden_tag() }}
        <div class="form-floating mb-3">
          {{ form.year(class="form-control", id="year") }}
          <label for="year">Year</label>
        </div>
        <div class="form-floating mb-3">
          {{ form.category(class="form-control", id="category") }}
          <label for="category">Category</label>
        </div>
        {% if logged_in and user.id == current_user.id %}
          {{ form.submit(class="w-100 btn btn-outline-warning card-button") }}
        {% endif %}
      </form>
    </div>

  </div>

</div>

{% endblock %}

<script>
  const scrollContainer = document.querySelector('.scroll-container');
  const btnLeft = document.getElementById('scroll-left');
  const btnRight = document.getElementById('scroll-right');

  btnLeft.addEventListener('click', () => {
    scrollContainer.scrollBy({
      left: -300,
      behavior: 'smooth'
    });
  });

  btnRight.addEventListener('click', () => {
    scrollContainer.scrollBy({
      left: 300,
      behavior: 'smooth'
    });
  });
</script>