{% extends 'base.html' %}{% from "bootstrap5/form.html" import render_form %}
{% block content %}

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-3 col-lg-2 p-4">
                <h1 class="header-title pb-3 text-center">Movie for {{ user.name }}</h1>
                <div class="card-container">
                    <div class="custom-card">
                        <div class="front" style="background-image: url('{{ movie.poster_url }}');">
                        </div>
                        <div class="back">
                            <div>
                                <div class="title-small-card">{{ movie.title }}</div>
                                <span class="release_year">{{ movie.relase_date }}</span>
                                <div class="rating">
                                    <label>{{ movie.rating }}</label>
                                    <i class="fas fa-star star"></i>
                                </div>
                                <a href="{{ url_for ('views.save_movie', id = movie.id, save_from= 'profile') }}" class="btn btn-outline-warning card-button">Salveaza</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-lg-2 p-5 py-5 text-white text-start" style="margin-top: 10px;">
                <form id="RandomMovieForm" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="mb-3">
                        <label>Year</label>
                        {{ form.year(class="form-control", id="year", placeholder= Year) }}
                    </div>

                    <div class="mb-3">
                        <label>Category</label>
                        {{ form.category(class="form-control", id="category", placeholder= Category) }}
                    </div>
                    {% if logged_in %}
                        {% if user.id == current_user.id %}
                    {{ form.submit(class="btn btn-warning card-button") }}
                        {% endif %}
                    {% endif %}
                </form>
            </div>
            <div class="col-md-6 col-lg-8 p-3 text-white text-start">
                <h1 style="font-family: Times New Roman, sans-serif;"> Filmele Mele </h1>
                {% if saved_movies %}
                <div class="row row-cols-12 row-cols-md-12 row-cols-lg-12 g-3 py-2">
                    {% for movie in saved_movies %}
                    <div class="card-container">
                        <div class="custom-card">
                            <div class="front" style="background-image: url('{{ movie.poster_url }}');">
                            </div>
                            <div class="back">
                                <div>
                                    <div class="title-small-card">{{ movie.title }}</div>
                                    <span class="release_year">{{ movie.relase_date }}</span>
                                    <div class="rating">
                                        <label>{{ movie.rating }}</label>
                                        <i class="fas fa-star star"></i>
                                    </div>
                                    <a href="{{ movie.details_url }}" class="btn btn-outline-warning card-button">Vezi detalii</a>
                                    <a href="{{ url_for('views.delete', id= movie.id) }}" class="btn btn-outline-danger card-button">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <p>Nu ai salvat niciun film.</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}