{% extends "base.html" %}{% from "bootstrap5/form.html" import render_form %}
{% block content %}
{%  if not logged_in %}
<div class="box">
	<h1 class="titles">Register</h1>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <p>{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <form method="POST" class="custom-input">
    {{ form.hidden_tag() }}

    <div class="form-floating mb-3">
        {{ form.name(class="form-control", placeholder= username) }}
        <label>User Name</label>
    </div>

    <div class="form-floating mb-3">
        {{ form.email(class="form-control", placeholder= username) }}
        <label>Email</label>
    </div>

    <div class="form-floating mb-3">
        {{ form.password1(class="form-control" , placeholder= username) }}
        <label>Password</label>
    </div>

    <div class="form-floating mb-3">
        {{ form.password2(class="form-control", placeholder= username) }}
        <label>Check your password</label>
    </div>

    {{ form.submit(class="btn btn-secondary") }}
</form>
</div>
{% else %}
<div class="container">
  <h1>You are already registered.</h1>
        <a
      href="{{ url_for('views.home') }}"
      class="btn btn-secondary btn-sm"
      >Home Page</a>
</div>
{% endif %}

{% endblock %}